{% load ravepay %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sample payment page</title>
    <style>
        .red {
            color: red;
        }
    </style>
</head>

<body>
{% ravepay_button button_class="red" amount=600 country="ZA" currency="ZAR" email="gbozee@example.com" description="Buy Goods" ref="KEJCALTPEXKX" redirect_url="http://localhost:8000/ravepay/verify-payment/KEJCALTPEXKX/?amount=600" %}
    <!-- {% ravepay_button button_class="red" amount=100 email="gbozee@example.com" description="Buy Goods"  %} -->
</body>

</html>