<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sample payment page</title>
    <style>
        .red {
            color: red;
        }
    </style>
</head>

<body>
    <form>
        <script src="{{payment_info.js_script}}"></script>
        <button class="red" id="paystack-button" type="button" onclick="payWithRave()"> Pay </button>
    </form>

    <script>
        const API_publicKey = "{{ravepay_instance.public_key}}";
        function payWithRave() {
            var x = getpaidSetup({
                PBFPubKey: API_publicKey,
                customer_email: "user@example.com",
                amount: {{payment_info.amount}},
                customer_phone: "234099940409",
                currency: "NGN",
                txref: "{{payment_info.ref}}",
                meta: [{
                    metaname: "flightID",
                    metavalue: "AP1234"
                }],
                onclose: function () { },
                callback: function (response) {
                    var txref = response.tx.txRef; // collect txRef returned and pass to a                  server page to complete status check.
                    console.log("This is the response returned after a charge", response);
                    if (
                        response.tx.chargeResponseCode == "00" ||
                        response.tx.chargeResponseCode == "0"
                    ) {
                        debugger;
                        window.location.href = "{{redirect_url}}&txref="+ txref
                        // redirect to a success page
                    } else {
                        // redirect to a failure page.
                    }

                    x.close(); // use this to close the modal immediately after payment.
                }
            });
        }
    </script>

</body>

</html>